<!DOCTYPE html>
<html lang="nl" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/theme-toggle.js" defer></script>
  </head>
  <body>
    <header>
  <h1>PointsFamApp</h1>
  <div>
    <% if (user) { %>
      <span>Ingelogd als: <%= user.username %></span>
    <% } %>
    <button id="toggle-theme">Thema wisselen</button>

  </div>
</header>
    <main><%- body %></main>
  </body>
  
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Verberg succes en foutmeldingen na 10 seconden
    const messages = document.querySelectorAll('.success, .error');
    
    messages.forEach(message => {
      setTimeout(() => {
        message.style.opacity = '0';
        setTimeout(() => message.remove(), 500); 
      }, 10000); 
    });
  });
</script>
</html>