<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>PointsFamApp</h1>
  </header>
  <main>
    <div class="error">
      <h2>Foutmelding</h2>
      <p><%= message %></p>
      <a href="/">Terug naar login</a>
    </div>
  </main>
</body>
</html>